<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<script type="text/javascript" src="/public/js/plugins/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/public/js/plugins/jquery.md5.js"></script>
		<script type="text/javascript" src="/public/js/plugins/jquery.cookie.js"></script>

		<script type="text/javascript" src="/public/js/plugins/ReactJS/react.js"></script>
		<script type="text/javascript" src="/public/js/plugins/ReactJS/react-with-addons.js"></script>
		<script type="text/javascript" src="/public/js/plugins/ReactJS/react-dom.js"></script>
		<script type="text/javascript" src="/public/js/plugins/browser.min.js"></script>
		
		<script type="text/javascript" src="/public/styles/plugins/bootstrap/js/bootstrap.min.js"></script>
		
		<link type="text/css" href="/public/styles/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<script type="text/babel" src="/views/index/modal.js"></script>
		<script type="text/babel" src="/views/index/index.js"></script>
		
		<style>
			body{
				font-size: 12px;
				font-family: Arial, Verdana, Sans-Serif;
			}
			div.main{
				margin-top: 50px;
			}
		</style>

		<title>Test</title>
	</head>
	<body>
		<div id="wrapper"></div>
	</body>
</html>